@import "tailwindcss";

@theme {
  --font-mono: ui-monospace, Consolas, monospace;
  --color-border: #e5e5e5;
  --color-muted: #737373;
  --color-surface: #fafafa;
}

:root {
  --vis-color0: #9a5cc6;
  --vis-color1: #2cbaa8;
  --vis-color2: #47a036;
  --vis-color3: #dfa115;
  --vis-color4: #cecaca;
  --vis-color5: #555555;
}

* {
  font-family: var(--font-mono);
}
